body {
    background-color: #333;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#map-canvas {
    height: 300px;
    width: 100%;
}

#contentHome {
    background-color: #333;
    color: white;
}

.select {
  font-size: 24px;
}


/* body {
  font-size: 30px; 
  font-family: Helvetica;
}

h1 {
  font-size: 24px;
}

li {
	list-style: none; 
	opacity: .9;
	color: orange;
}

li span {
	color: orange;
}

#results {
  padding: 0 10px;
}

#getWeatherSF {font-family: American Typewriter;}
#resultsSF {
  padding: 0 10px;
}

#getWeatherGF {font-family: American Typewriter;}
#resultsGF {
  padding: 0 10px;
}

#getWeatherMSP {font-family: American Typewriter;}
#resultsMSP {
  padding: 0 10px;
}

#getWeatherPA {font-family: American Typewriter;}
#resultsPA {
  padding: 0 10px;
}

.red {color: red;}
.blue {color: lightBlue;}

